@import './null.css';
@import './header.css';
@import './main.css';
@import './paint.css';

html{
    height: 100%;
   
}
html body{
    background: url('../img/wall.png');
    background-color: inherit;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.wrapper2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('../img/wall.png');
    display: none;
}


.btn2{
    background-color:#294D61 ;
    border-radius: 9px;
    padding: 10px 40px;
    color: white;
    cursor: pointer;

}
.btns form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


html body .activ{
    display: block;
}


.exit  {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}
.exit p{
    display: inline-block;
    background-color: white;
    /* padding: 8px; */
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}




.myCanvas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.paintBody div{
    width: 100%;
    height: 100%;
}



/* pdfdoc------------------------------------ */






.pdfDoc{
    display: none;
    
}
.pdf-content2{
    display: none;
}


.sucsessImg img{
        position: fixed;
        bottom: -15%;
        left: 0;
        margin-left: -100%;
}

.sucsessImg .activeImg{
    

    animation-name:doctorLike ;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0s;

}

@keyframes doctorLike {
    0%{
        margin-left: -100%;
    }
    50%{
        margin-left: -15%;
        transform: rotate(25deg);
    }
    100%{
        margin-left: -100%;
    }
}



/* bootstrap */
#loading-overlay {
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.95);
}

.accordion-body{
    max-height: 350px;
    overflow: auto;
}


.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay__img {
    margin-bottom: 30px;
    animation-name: loadingImg;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: none;
}

.overlay__loading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    animation-name: loadingText;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: none;
}

@keyframes loadingText {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes loadingImg {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}